<div class="news_sep">
<%= link_to article do %>
  <h1 class="article_title"><%= article.title %></h1>
<% end %>
    <div class="article_content">
      <div class="article_index_date">
        <%= l(article.created_at, format: :short) %>
      </div>
            <% if false %>
      <% if article.image_id.present? %>
        <%= image_tag attachment_url(article, :image), class: "article_image" %>
        <% else %>
        <%= image_tag 'insta1.png', class: "article_image" %>
      <% end %>


      <div class="article_body">
        <%=safe_join(article.body.split("\n"),tag(:br))%> 
      </div>
      <% end %>

      <%= article.body %>
      
    </div>

    <div class="category_container">
        <div class="category_header">
          カテゴリー
        </div>
        <ul class="category_ul">
            <% article.categories.each_with_index do |category, index| %>
              <% if index ==  article.categories.size - 1 %>
              <li class="category_li">
                <%= link_to category.name,articles_path(category_id:category.id) %>
              </li>
          
              <% else %>
                <li class="category_li">
                  <%= link_to category.name,articles_path(category_id:category.id) %>
                </li>
              <div class="category_comma">,</div>
              <% end %>
            <% end %>
        </ul>
</div>
</div>