<a href="#!" class="js-modal-close batsu">×</a>
<h2 class="form_title">新規投稿</h2>
<%= form_with(model: @article) do |f| %>
        <div class="form-group">
          <%= f.label :title, "タイトル"%>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="images">
            <%= f.label :サムネ画像 %>
            <%= f.file_field :image %>

        </div>
        
        <div class="field">
          <%= f.label :body %>
          <%= f.rich_text_area :body %>
        </div>

        <div class="form-group">
          <%= f.label :category, 'カテゴリ(※１つ以上選択)' %>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
            <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
              <% end %>
          <% end %>
        </div>
   

        <%= f.submit "新規投稿", class: "btn btn-success" %>
<% end %>

