<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <%= link_to article do %>
        <div class="col-md-3">
        <% if article.image_id.present? %>
        <%= image_tag attachment_url(article, :image), class: "article_img_list" %>
        <% else %>
        <%= image_tag 'insta1.png', class: "article_img_list" %>
        <% end %>

        <p class="article_title"><%= article.title %></p>
          <%= l article.created_at %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
  <%= link_to '新規作成', new_article_path, class: "btn btn-primary" %>
  </div>
</div>



