<% provide(:title, "Home") %>


    


      <%# headerの呼び出し　%>

      <div id="container">
        <div id="content">
          <div class="first">
              <div class="first__wrapper">
                <div class="first__title">
                  <p class="first__title-p">We are FORZA</p>
                <div class="first__img">
                </div>
                <div class="first__img">
                </div>
                <div class="first__img">
                </div>
                <a href="#about" class="first__footer">
                  <span>scroll</span>
                </a>
              </div>
            </div>
          </div>
          <div id="main-content">
            <aside class="side left">
              <div class="side_inner">

                <%= link_to "https://www.instagram.com/forza_kanazawa/" ,class: "sns-link-side" do %>
                  <div class="faa-parent animated-hover">
                  <i class="fab fa-twitter faa-wrench animated-hover"></i>
                  <span>TWITTER</span>
                  </div>
                <% end %>

                <%= link_to "https://www.instagram.com/forza_kanazawa/" ,class: "sns-link-side" do %>
                  <div class="faa-parent animated-hover">
                  <i class="fab fa-instagram faa-pulse animated-hover"></i>
                  <span>INSTAGRAM</span>
                  </div>
                <% end %>
              </div>

            </aside>
              
            <%= render 'layouts/about'%>

            <%= render 'layouts/article_area'%>
              
            <%= render 'layouts/contact'%>


        <%# <div class="animate-title">Start where you are.</div>

    </section>
    <section>

        <div class="animate-title">Use what you have.</div>

    </section>
    <section>

        <div class="animate-title">Do what you can.</div>

    </section> %>

            <%#= render 'layouts/access'%>

            <%= render 'layouts/calender'%>
            
            <%= render 'layouts/map'%>
            <aside class="side right">
              <div class="side_inner">
                 <span>&copy; 2021 FORZA kanazawa</span>
              </div>
            </aside>

          </div>
        </div>
      </div>

      
    
    
 
