<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="" rel="stylesheet" type="text/css" media="(min-width: 320px) and (max-width: 639px)" >

  </head>
<%= @category %>

    <% if logged_in? %>
      <section class="FAB">
        <div class="FAB__mini-action-button">
          <div class="mini-action-button--hide mini-action-button">
            <a class="js-modal-open" href="">
            <i class="mini-action-button__icon material-icons">create</i>
            <p class="mini-action-button__text--hide">新規投稿</p>
            </a>
          </div>
          <div class="mini-action-button--hide mini-action-button">
          <%= link_to "https://calendar.google.com/calendar/u/0/r?tab=rc" do %>
            <i class="mini-action-button__icon material-icons">today</i>
            <p class="mini-action-button__text--hide">Google Calender</p>
          <% end %>
          </div>
        </div>
        <div class="FAB__action-button">
          <i class="action-button__icon material-icons">add</i>
        </div>
      </section>

      <div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <%= render 'articles/new_form' %>
        </div><!--modal__inner-->
      </div><!--modal-->

    <% end %>
