      <footer class="footer">
        <div class="footer__inner">
          <div class="logo">
            <%= link_to image_tag("logo.svg", class:"logo__img"), "/" %>
            <div class="logo__stay">FORZA</div>
          </div>
          <nav class="footer__nav">
            <ul class="footer__ul">
              <li><%= link_to "Home", root_path,  class: "footer__li" %></li>
              <li><%= link_to "About", about_path, class: "footer__li" %></li>
              <li><%= link_to "News", articles_path, class: "footer__li" %></li>
              <li><%= link_to "Contact", new_inquiry_path, class: "footer__li" %></li>
            </ul>
          </nav>
        </div>
        <div class="footer__copyright">
          &copy; 2021 FORZA kanazawa
        </div>
      </footer>
 