      <header class="header">
        <div class="header__inner">
          <div class="logo">
            <%= link_to image_tag("logo.svg", class:"logo__img"), "/" %>
            <%= link_to '/', class: 'logo__stay' do %>
            <div>FORZA</div>
            <% end %>
          </div>
          <div class="header_btn">
            <%= link_to '/', class: 'custom-btn btn-3' do %>
              <span>Home</span>
            <% end %>
            <%= link_to about_path, class: 'custom-btn btn-3' do %>
              <span>About</span>
            <% end %>
            <%= link_to articles_path, class: 'custom-btn btn-3' do %>
              <span>News</span>
            <% end %>
            <%= link_to new_inquiry_path, class: 'custom-btn btn-3' do %>
              <span>Contact</span>
            <% end %>
            <% if logged_in? %> 
              <%= link_to  logout_path, method: :delete, class: 'custom-btn btn-3 header_log' do %>
                <span>Logout</span>
              <% end %>
            <% end %>
          </div>
          <button class="mobile-menu__btn">
              <span></span>
              <span></span>
              <span></span>
          </button>
        </div>
              <div class="mobile-menu__cover">
        <nav class="mobile-menu">
          <ul class="mobile-menu__main">
              <li class="mobile-menu__item">
                <%= link_to "Home", root_path, class: "main-title" %>
              </li>
              <li class="mobile-menu__item">
                <%= link_to "About", about_path, class: "main-title" %>
              </li>
              <li class="mobile-menu__item">
                <%= link_to "News", articles_path, class: "main-title" %>
              </li>
              <li class="mobile-menu__item">
                <%= link_to "Contact", new_inquiry_path, class: "main-title" %>
              </li>
               <% if logged_in? %> 
              <li class="mobile-menu__item">
                <%= link_to "Log out", logout_path, method: :delete, :class => 'logout' %>  <!-- ログアウトリンク-->
              </li>
              <% end %>
          </ul>
        </nav>
      </div>
      </header>