      <header class="header">
        <div class="header__inner">
          <div class="logo">
            <%# <img src="/assets/logo.svg" alt="" class="logo__img"> %>
            <%= link_to image_tag("logo.svg", class:"logo__img"), "/" %>
            <div class="logo__stay">FORZA</div>
          </div>
          <nav class="header__nav">
            <ul class="header__ul">
              <li><%= link_to "Home", root_path, class: "header__li" %></li>
              <li><%= link_to "About", about_path, class: "header__li" %></li>
              <li><%= link_to "News", news_path, class: "header__li" %></li>
              <li><%= link_to "Contact", new_inquiry_path, class: "header__li" %></li>
              <% if logged_in? %>
              
              <li>
                <%= link_to "Log out", logout_path, method: :delete, :class => 'header__li'%>          <!-- ログアウトリンク-->
              </li>
              <% end %>
            </ul>
          </nav>
          <button class="mobile-menu__btn">
              <span></span>
              <span></span>
              <span></span>
          </button>
        </div>
              <div class="mobile-menu__cover">
        <nav class="mobile-menu">
          <ul class="mobile-menu__main">
              <li class="mobile-menu__item">
                <%= link_to "Home", root_path, class: "main-title" %>
              </li>
              <li class="mobile-menu__item">
                <%= link_to "About", about_path, class: "main-title" %>
              </li>
              <li class="mobile-menu__item">
                <%= link_to "News", news_path, class: "main-title" %>
              </li>
              <li class="mobile-menu__item">
                <%= link_to "Contact", new_inquiry_path, class: "main-title" %>
              </li>
               <% if logged_in? %> 
              <li class="mobile-menu__item">
                <%= link_to "Log out", logout_path, method: :delete, :class => 'logout' %>  <!-- ログアウトリンク-->
              </li>
              <% end %>
          </ul>
        </nav>
      </div>
      </header>