<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+JP&display=swap" rel="stylesheet">
  
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="" rel="stylesheet" type="text/css" media="(min-width: 320px) and (max-width: 639px)" >

  </head>
  
  <body>
  <div id="global-container">
    <%= render 'layouts/header' %>

    
  <h1 class="text-center" style="margin-top: 150px;">
     <%# Forzaのブログ %>
     <%= link_to "News", articles_url, class: "news_head_link" %>
     <%# <%= image_tag 'news_head.jpg', class: "article_image" %> 

   </h1>

   <div class="article-container">

    <%= yield %>

  </div>

    <%= render 'layouts/sns'%>

    <%= render 'layouts/footer'%>

      <% if logged_in? %>
    <section class="<%= controller.action_name %>btn">
    <%= link_to new_article_path do%>
    <div class="navigate-anchor">
      <i class="fas fa-plus"></i>
    </section>
    <% end %>
    </div>
    <% end %>



    
 

  </div>


<%= javascript_pack_tag 'scripts/mobile-menu' %>
<%= javascript_pack_tag 'scripts/scroll' %>

<script>
$(function () {
    document.querySelector('.disabled').innerHTML = ""
});
</script>

  </body>
</html>